$link: #222; 
$active-link: #2aa4dd;
$dark-blue: #196a90;
$menu-gray: #7c8083;
$active-caret-down: #00cd43;
$lightblue: #ebf4fc;
$sift: #e56135;
$clockwise: #5fd2e4;
$spectre: #56ffcd;
$apres: #fb505d;
$unicorn: #26baff;
